body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.video-react-poster {
  background-size: cover !important;
  position: relative;
}
.video-react-poster::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgba(25, 105, 67, 0.2);
}
.video-react:hover .video-react-poster::before{
  opacity: 0;
  transition: all 0.5s ease;
}
.video-react .video-react-big-play-button.video-react-big-play-button-center {
  position: absolute;
  border: 2px solid #196943;
  margin-top: -0.8em;
  margin-left: -0.8em;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  color: #196943;
  background-color: #9bd9e2;
}
.video-react:hover
  .video-react-big-play-button.video-react-big-play-button-center,
.video-react:hover
  .video-react-big-play-button.video-react-big-play-button-center::before {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #196943;
  border-radius: 50%;
}
.video-react-video:focus {
  outline: none;
}
